dataset/BNS*
dataset/*.h5
examples/de440s.bsp
examples/obsLauncher/LALInference.v1.fits.g
examples/obsLauncher/de440s.bsp
examples/visualization/Bilby.offline0.multiorder.fits
examples/visualization/S240422ed_galaxies.csv
de440s.bsp
ggwf*
log
build
output/*
tools/analysisResults
.DS_Store
submit_arrayjob.sh
CTA_simu_job.sh
tests/output/
tests/__pycache__/
__pycache__
.idea
.ipynb_checkpoints
*.egg-info
*.egg
*.eggs
.vscode/
tilepy_venv
src/tilepy/include/ObservingTimes.py
src/tilepy/include/gwobserve.py
src/tilepy/dataset/*
src/tilepy/_version.py
src/tilepy/_version_cache.py
GLADE+.txt
*.fits
*.fit
*.fits,*
*.fit,*
*.fits.*
*.fit.*
examples/launcher/output
