astropy
pytz
scipy<1.14.0
healpy==1.16.2
tables
ipython
matplotlib
MOCpy
numpy
pandas
ephem
gdpyc
ligo.skymap
fastparquet
skyfield
ipykernel
six
mhealpy>=0.3.0,<0.4
setuptools
requests
scikit-learn
pytest
nbmake
